.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: black;
    font-size: 38px;
    font-weight: 600;
    cursor: pointer;
}

.nav-menu {
    align-items: center;
    list-style: none;
    gap: 50px;
    display: flex;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
   border: none;
   width: 80%;
   height: 3px;
   border-radius: 10px;
   background-color: red;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    color: black;
    border-radius: 75px;
    font-size: 20px;
    border: 1px solid grey;
    font-weight: 500px;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active{
    background: #f3f3f3;
    cursor: pointer;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

a {
    color: inherit; /* or set it to a specific color, e.g., color: black; */
    text-decoration: none; /* Remove underline */
  }

  
/* ... existing styles ... */

@media (max-width: 768px) {
/* Adjust styles for screens with a maximum width of 768px */
.navbar {
    flex-direction: column;
}

.nav-menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px; /* Decreased font size for better mobile readability */
}

.nav-menu li {
    flex-direction: row;
    gap: 5px;
}
}