.productdisplay {
    display: flex;
    margin: 0px 50px;
}




/* LEFT */
.productdisplay-left {
    display: flex;
    gap: 17px;
}
.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-img-list img {
    height: 120px;
}



/*  IMAGEN  */

.productdisplay-main-img {
    width: 420px;
    height: 530px;
}

/* RIGHT */
.productdisplay-right {
    padding: 0 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.productdisplay-right h1 {
    text-align: left;
    margin-bottom: 20px;
}

.productdisplay-right-start {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.productdisplay-right-start img {
    width: 20px;
    height: 20px;
}

.productdisplay-right-start p {
    margin-left: 5px;
    font-size: 14px;
    color: #555;
}

.productdisplay-right-prices {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.productdisplay-right-price-old {
    text-decoration: line-through;
    color: #999;
    font-size: 20px;
}

.productdisplay-right-price-new {
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.productdisplay-right-description {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
    text-align: left;
}

.productdisplay-right-size {
    margin-bottom: 20px;
}

.productdisplay-right-size h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.productdisplay-right-size div {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.productdisplay-right-size div:last-child {
    margin-right: 0;
}

.productdisplay-right-category {
    margin-bottom: 10px;
    font-size: 14px;
    color: #888;
}

.productdisplay-right-category span {
    font-weight: bold;
}

.square-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000; /* Red */
    color: #ffffff; /* White */
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.square-button:hover {
    background-color: #cc0000; /* Darker red */
}
  
.button-product{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}